*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    position: relative;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover{
    border-bottom: 1px solid #33B247;
}

.linkActive{
    border-bottom: 2px solid #33B247;
}

button{
    cursor: pointer;
}


.shop{
    display: flex;
    align-items: center;
    position: relative;
    top: 88.7px;
}

/* sidebar styles */

.sidebar{
    position: fixed;
    left: 0;
    top: 88.7px;
    height: 100%;
    width: 12em;
    margin-bottom: 0;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
}


.filter{
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    padding: 20px;
}

.categories, .priceRange{
    padding: 20px;
}

.catgry, .p-set{
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.catgry p{
    margin-left: 15px;
}

.p-set{
    justify-content: space-between;
}

.p-set input{
    width: 60%;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
}

.min{
    border: 1px solid;
    padding: 6px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    border: 0;
    background-color: rgba(128, 128, 128, 0.185);;
}

.priceRange button{
    padding: 15px;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    background-color: #33B247;
    color: var(--white-text);
}

.upper{
    text-transform: uppercase;
}

/* end of sidebar */


/* middle pane styles */
.middle{
    margin-left: 12em;
    margin-right: 25em;
    width: 100%;
    padding: 20px;
    
}

.searchBar{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    padding: 10px 50px;
    border: 0;
    background-image: url("/img/Icon\ awesome-search.png");
    background-repeat: no-repeat;
    background-position: left 20px center, center right 20px;
    background-size: 1.2em;   
}

.searchIcon{
    display: none;
    margin-top: 8px;
    width: 1.2em;
}

.searchIcon img{
    width: 100%;
}

.search{
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 50px 10px 20px; 
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 2em;
}

.gridItem{
    width: 15em;
    height: 21em;
    border: 1px solid #B23338;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    text-align: center;
}

.gridItem p{
    text-align: left;
    font-size: small;
    padding: 10px 20px;
}

.gridItem img{
    width: 60%;
    height: 10em;
}

.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price button{
    padding: 10px;
    background-color: #33B247;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
    border: 0;
}

/* end of middle pane styles */
.display{
    position: fixed;
    right: 0;
    top: 88.7px;
    height: 100%;
    width: 25em;
    margin-bottom: 0;
    padding: 0 20px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
}

.mainItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15em;
    width: 100%;
    padding: 0 30px;
}

.mainItem img{
    width: 100%;
    padding: 0 20px;
}

.smallDispContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23em;
    margin-top: 40px;
}

.smallDisp{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 5em;
    height: 5em;
    padding: 10px;
}

.smallDisp img{
    width: 100%;
}

.about, .about p{
    margin: 15px 0;
}

.tab{
    display: flex;
    justify-content: space-between;
}

.t-right, .right{
    text-align: right;
}

.tab button{
    padding: 20px 0px 20px 0;
    background: transparent;
    font-size: var(--font-sm);
    outline: none;
    border: 0;
    line-height: 0;
}

.tab button.active{
    border-bottom: 4px solid #33B247;
}

.tabcontent{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.left p, .right p{
    margin: 10px 0;
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B23338;
    width: 3em;
    height: 3em;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.185);
}

.right button{
    padding: 15px;
    background-color: #33B247;
    color: white;
    border-radius: 5px;
    border: none;
}

#reviews{
    color: grey;
}

                                            