<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <title>ShopiT | Your favorite shop</title>
  </head>
  <body>
    <!-- navigation bar -->
    <div class="navbar">
      <div class="nav-content">
          <div class="logo">
            <img src="../img/open-source.png" alt="" />
            <p class="brand">ShopiT</p>
          </div>
 
          <nav>
            <ul>
              <li><a href="#home" class="link">Home</a></li>
              <li><a href="" class="link">Shop</a></li>
              <li><a href="" class="link">Blog</a></li>
              <li><a href="" class="link">Hot Sale</a></li>
              <li><a href="" class="link">Sign In</a></li>
            </ul>
          </nav>

          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>

          <!-- sign up button -->
          <a href="" id="signIn">Sign In</a>
      </div>
      

    </div>

    <!-- page content  -->
    <main>
      <!-- intro section -->
      <section class="intro" id="home">
        <div class="row">
          <div class="col-1">
            <p class="title">Shop with ease anytime and anywhere</p>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque
              perspiciatis in quos. Ut perferendis maiores quisquam nisi ducimus
              voluptatem. Aperiam Ut perferendis maiores quisquam nisi ducimus
              voluptatem. Aperiam.
            </p>
            <button>Start Shopping</button>
          </div>
          <div class="col-2">
            <img src="../img/kisspng-clothing-stock-photography-shopping-woman-shopping-5ad19174315f08.3835845415236837002022.png" alt="" />
          </div>
        </div>
      </section>

      <!-- brands -->
      <section class="brands">
        <p class="heading text-center hpd">All Your Favorite Brands</p>

        <div class="swiper-container">
          <div class="swiper-wrapper feat">
            <div class="swiper-slide">
              <img src="../img/grey/Layer -1.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer 2.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -2.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -3.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -4.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -5.png" alt="" width="70" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -6.png" alt="" width="90" />
            </div>
            <div class="swiper-slide">
              <img src="../img/grey/Layer -7.png" alt="" width="90" />
            </div>
          </div>
        </div>
      </section>

      <!-- new arrivals section -->
      <section class="arrivals">
          <div class="row">
              <p class="heading text-left">New Arrivals</p>
                <a href="" class="viewall">View all <img src="../img/Icon ionic-ios-arrow-dropright-circle.png" alt="" width="15"> </a>
          </div>

        <div class="swiper-main">
          <div class="arrivals-container">
            <div class="swiper-wrapper arr">
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
              <div class="swiper-slide">
                <div class="picture">
                  <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
                </div>
                <p class="product">Product</p>
                <p class="p-desc">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
                <p class="price">$49.99</p>
              </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
      </section>

      <!-- featured -->
      <section class="featured">
        <div class="row">
            <p class="heading text-left">Featured Products</p>
              <a href="" class="viewall">View all <img src="../img/Icon ionic-ios-arrow-dropright-circle.png" alt="" width="15"> </a>
        </div>

        <div class="item-container">
          <div class="item">
            <div class="picture">
              <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
          <div class="item">
            <div class="picture">
              <img src="../img/solesavy-QGcRQiUV-Vc-unsplash.jpg" alt="" />
            </div>
            <p class="product">Product</p>
            <p class="p-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <p class="price">$49.99</p>
          </div>
        </div>
      </section>

      <!-- shop by brand -->
      <section class="byBrand">
        <p class="heading text-left">Shop by brand</p>

        <div class="brand-item-container">
          <div class="brandItem">
            <img src="../img/Layer -8.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -10.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -11.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -12.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -13.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -14.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -15.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -9.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/path2387.png" alt="" />
          </div>
          <div class="brandItem">
            <img src="../img/Layer -10.png" alt="" />
          </div>
        </div>
      </section>
      
      <!-- summer sale section -->
      <section class="ssale">
        <div class="row">
          <div class="left">
            <p class="title">Summer Sale</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
              quisquam adipisci excepturi fuga facere assumenda?
            </p>
            <p class="discount">All items are <span>50% off</span></p>
          </div>
          <div class="right">
            <img src="../img/ssale.png" alt="" />
          </div>
        </div>
      </section>

      <!-- shop by item -->
      <section class="byBrand">
        <p class="heading text-left">Shop by item</p>

        <div class="brand-item-container">
          <div class="brandItem its">
              <div class="p-image">
                  <img src="../img/5c62c19ee4b8dd029ff25b12.png" alt="" />
              </div>
            <p>Shoes</p>
          </div>

          <div class="brandItem its">
              <div class="p-image">
                  <img src="../img/dress_PNG188.png" alt="" />
              </div>
            <p>Dresses</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/kisspng-jeans-t-shirt-trousers-slim-fit-pants-clothing-men-s-jeans-5a6a62b2a38390.2337063015169215226698.png" alt="" />
            </div>
            <p>Jeans</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/580b57fbd9996e24bc43bf55.png" alt="" />
            </div>
            <p>Shirts</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/580b585b2edbce24c47b2420.png" alt="" />
            </div>
            <p>Jewelry</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/5864f8607d90850fc3ce2a11.png" alt="" />
            </div>
            <p>Bags</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/5c2cd9e9a97bc40295eb831d.png" alt="" />
            </div>
            <p>Trousers</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/kisspng-air-jordan-shoe-sneakers-nike-jordan-spizike-air-jordan-basketball-shoes-5a7bfa0d76e378.869957621518074381487.png" alt="" />
            </div>
            <p>Sneakers</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/wrist-watch-2745278_1920.png" alt="" />
            </div>
            <p>Accessories</p>
          </div>

          <div class="brandItem its">
            <div class="p-image">
                <img src="../img/shoe-2780627_1920.png" alt="" />
            </div>
            <p>Heels</p>
          </div>
        </div>
      </section>


      <!-- ad space -->
      <section class="advert">
        <div class="ad ad1">
          <p class="ad-title">Add Space</p>
          <p class="ad-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            incidunt tempora veniam aspernatur similique blanditiis vero libero
            tempore neque aliquid?
          </p>
        </div>

        <div class="ad ad2">
          <p class="ad-title">Add Space</p>
          <p class="ad-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            incidunt tempora veniam aspernatur similique blanditiis vero libero
            tempore neque aliquid?
          </p>
        </div>
      </section>
    </main>

    <!-- back to top button -->
    <button class="scroll" onclick="topFunction()">Scroll to top</button>

    <footer>
      <div class="footer-content">
        <!-- top -->
        <div class="top">
          <p class="brand">ShopiT</p>
          <div class="newsletter">
            <p>New to ShopiT?</p>
            <p>
              Subscribe to our newsletter to get updates on our latest offers
            </p>
            <div class="sub-box">
              <input type="text" name="" id="" placeholder="Email address" />
              <button>Subscribe</button>
            </div>
          </div>
        </div>
        <!-- links -->
        <div class="help-links">
          <div class="linkItem">
            <p class="">LET US HELP YOU</p>
            <div class="links">
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
            </div>
          </div>
          <div class="linkItem">
            <p class="">ABOUT SHOPiT</p>
            <div class="links">
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
            </div>
          </div>
          <div class="linkItem">
            <p class="">MAKE MONEY WITH SHOPiT</p>
            <div class="links">
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
            </div>
          </div>
          <div class="linkItem">
            <p class="">ADDITIONAL INFORMATION</p>
            <div class="links">
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
              <p>Link</p>
            </div>
          </div>
        </div>

        <!-- additional info -->
        <div class="extra">
          <div class="extraItem">
            <p>CONTACT US ON</p>
            <div class="icons">
              <img src="../img/Icon awesome-instagram.png" alt="" />
              <img src="../img/Icon awesome-twitter.png" alt="" />
              <img src="../img/Icon awesome-facebook.png" alt="" />
            </div>
          </div>
          <div class="extraItem">
            <p>PAYMENT METHODS</p>
            <div class="icons">
              <img src="../img/Icon awesome-cc-visa.png" alt="" />
              <img src="../img/Icon payment-mastercard.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/owl.js"></script>
  </body>
</html>
