    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/shop.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
        />
    </head>
    <body>
        <!-- navigation bar -->
    <div class="navbar borderBottom bg-white">
        <div class="nav-content">
            <div class="logo">
              <img src="../img/open-source-black.png" alt="" />
              <p class="brand">ShopiT</p>
            </div>
   
            <nav>
              <ul>
                <li><a href="#home" class="link">Home</a></li>
                <li><a href="" class="link">Shop</a></li>
                <li><a href="" class="link">Blog</a></li>
                <li><a href="" class="link">Hot Sale</a></li>
                <li><a href="" class="link">Sign In</a></li>
              </ul>
            </nav>
  
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
  
            <!-- sign up button -->
            <a href="" id="signIn">Sign In</a>
        </div>
        
  
    </div>

    <!-- main content -->
    <main>
        <section class="shop">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="filter">
                    <p>Filter</p>
                </div>

                <!-- categories -->
                
                <div class="categories">
                    <p class="upper">Categories</p>

                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Clothing</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Accessories</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Brands</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Shoes</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Men's wear</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Women's wear</p>
                    </div>
                    <div class="catgry">
                        <input type="checkbox" name="" id="">
                        <p>Kids</p>
                    </div>
                </div>

                <!-- price range -->
                <div class="priceRange">
                    <p class="p-range upper">Price Range</p>
                    <div class="p-set">
                        <p class="min">Min</p>
                        <input type="text" name="" id="" placeholder="$">
                    </div>
                    <button>Set Price</button>
                </div>
            </div>

            <!-- middle content -->
            <div class="middle">
                <!-- searchbar -->
                <div class="searchBar">
                    <input type="text" name="" id="" class="search" placeholder="Search for something..." oninput="checkIfTyping();">
                    <a href="" class="searchIcon"><img src="../img/Icon material-cancel.png" alt="" ></a>
                </div>
                <!-- grid of items -->
                <div class="grid">
                    <div class="gridItem">
                        <div class="picture">
                          <img src="../img/580b57fbd9996e24bc43bf55.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/5c2cd9e9a97bc40295eb831d.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/5c2cda60a97bc40295eb8329.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>
                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/5c2cd9e9a97bc40295eb831d.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/5c2cda60a97bc40295eb8329.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/kisspng-air-jordan-shoe-sneakers-nike-jordan-spizike-air-jordan-basketball-shoes-5a7bfa0d76e378.869957621518074381487.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/kisspng-jeans-t-shirt-trousers-slim-fit-pants-clothing-men-s-jeans-5a6a62b2a38390.2337063015169215226698.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/dress_PNG188.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/shoe-2780627_1920.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>

                    <div class="gridItem">
                        <div class="picture">
                            <img src="../img/5c2cda60a97bc40295eb8329.png" alt="" />
                        </div>
                        <p class="product">Product</p>
                        <p class="p-desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                        <p class="price">
                            $49.99
                            <button>Add to cart</button>
                        </p>
                    </div>
                </div>
            </div>

            <!-- item display content -->
            <div class="display">
                <!-- <p>Nothing to show here</p> -->
            </div>
        </section>
    </main>
  
    <script src="../js/owl.js"></script>
    </body>
    </html>